* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #2196f3;
    --alt-color: #1787e0;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Cairo, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.special-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px 20px;
    margin: 0 auto 80px;
    border: 3px solid black;
    width: fit-content;
    position: relative;
    transition: 0.3s;
    z-index: 1;
}

.special-title:before,
.special-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.special-title:before {
    left: -30px;
}

.special-title::after {
    right: -30px;
}

.special-title:hover::before {
    z-index: -1;
    animation: move-right 0.5s linear forwards;
}

.special-title:hover::after {
    z-index: -1;
    animation: move-left 0.5s linear forwards;
}

.special-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s; 
}

@keyframes move-right {
    50% {
        left: 0;
        width: 12;
        height: 12px;
    }
    100% {
        left: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes move-left {
    50% {
        right: 0;
        width: 12;
        height: 12px;
    }
    100% {
        right: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
    }
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    box-shadow: 0 0 10px rgb(173, 173, 173);
    background-color: white;
}

.header .container {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .nav {
        margin: auto;
    }
}

.header .nav > li > a {
    text-transform: capitalize;
    font-size: 18px;
    position: relative;
    color: black;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    overflow: hidden;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .header .nav > li > a {
        height: 50px;
        font-size: 14px;
        padding: 10px;
    }
}

.header .nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: 0.3s;
}

.header .nav > li:hover {
    background-color: #eee;
    cursor: pointer;
}

.header .nav > li:hover a {
    color: var(--main-color);
}

.header .nav > li:hover > a::before {
    left: 0;
}

.header .nav .mega {
    position: absolute;
    background: white;
    padding: 30px;
    left: 0;
    top: 100px;
    width: 100%;
    border-bottom: 4px solid var(--main-color);
    box-shadow: 0 20px 30px rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    gap: 40px;
    z-index: -2;
    opacity: 0;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .header .nav .mega {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
    .header .nav .mega ul:first-of-type li:last-of-type {
        border-bottom: 1px solid #ddd;
    }
}

.header .nav > li:last-of-type:hover .mega {
    display: flex;
    top: 73px;
    opacity: 100%;
    z-index: 100;
}

@media (max-width: 767px) {
    .header .nav > li:last-of-type:hover .mega {
        top: 101px;
    }
}

.header .nav .mega img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .nav .mega img {
        display: none;
    }   
}

.header .nav .mega ul {
    min-width: 240px;
    flex: 1;
}

.header .nav .mega ul li {
    position: relative;
    padding: 15px;
    color: var(--main-color);
    display: flex;
    transition: 0.3s;
}

.header .nav .mega ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: #eee;
    z-index: -1;
    transition: 0.3s;
}

.header .nav .mega ul li:hover::before {
    width: 100%;
}

.header .nav .mega ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.header .nav .mega ul li a {
    display: block;
    color: var(--main-color);
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;   
}

.header .nav .mega ul li a i {
    margin-right: 10px;
}

.header .nav .mega ul li a:visited {
    color: var(--main-color);
}

.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    background-color: #eee;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    top: -40px;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    height: calc(100vh - 72px);
    padding-bottom: 120px;
    display: flex;
    align-items: center;
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    text-transform: capitalize;
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .landing .text h1 {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 24px;
    color: #666;
    line-height: 2;
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: up-down 5s cubic-bezier(0.68, 0, 0.31, 0.98) infinite;
}

@media (max-width: 991px) {
    .landing .image img {
        display: none;
    }
}

.landing .go-down{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transform: 0.3s;
}

.landing .go-down:hover {
    color: var(--alt-color);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
    font-size: 30px;
}

@keyframes up-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-15px);
    }
}

.articles {
    padding: 100px 0;
}

.articles .container {
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 40px;
}

.articles .box {
    border-radius: 5px;
    box-shadow: 0 0 20px #c5c5c5;
    transition: 0.3s;
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #a3a3a3;
}

.articles img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.articles .box .body {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.articles .box .body h3 {
    text-transform: capitalize;
}

.articles .box .body p {
    color: #777;
    line-height: 1.5;
    padding-top: 10px;
}

.articles .box .footer {
    color: var(--main-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.articles .box .footer a {
    color: inherit;
    font-weight: bold;
    text-transform: capitalize;
}

.articles .box:hover .footer i {
    animation: left-left 0.5s linear infinite;
}

@keyframes left-left {
    100% {
        transform: translateX(10px);
    }
}

.gallery {
    position: relative;
    background-color: var(--section-background);
    padding: 100px 0;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.212);
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: 2;
}

.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}

@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .box img {
    width: 100%;
    transition: 0.3s;
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.2);
}

.features {
    padding: 100px 0;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #c7c7c7;
}

.features .box .image {
    position: relative;
    overflow: hidden;
}

.features .box .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: 0.3s;
}

.features .box:hover .image::after {
    border-width: 170px 500px 170px 0px;
}

.features .box .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;   
}

.features .box:first-child .image::before {
    background-color: rgba(255, 0, 0, 0.5);
}

.features .box:nth-child(2) .image::before {
    background-color: #00968785;
}

.features .box:last-child .image::before {
    background-color: #1786e083;
}

.features .box .image img {
    max-width: 100%;
}

.features .box h2 {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}

.features .box h2::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    bottom: -20px;
    left: 15px;
}

.features .box:first-child h2::after {
    background-color: red;
}

.features .box:nth-child(2) h2::after {
    background-color: #009688;
}

.features .box:last-child h2::after {
    background-color: var(--main-color);
}

.features .box p {
    padding: 25px;
    margin: 30px 0;
    font-size: 20px;
    color: #777;
    line-height: 2;
}

.features .box a {
    position: relative;
    display: block;
    width: fit-content;
    text-transform: capitalize;
    padding: 10px 30px;
    margin:0 auto 30px;
    border: 4px solid;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
}

.features .box:first-child a {
    border-color: red;
    color: red;
}

.features .box:nth-child(2) a {
    border-color: #009688;
    color: #009688;
}

.features .box:last-child a {
    border-color: var(--main-color);
    color: var(--main-color);
}

.features .box a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.features .box:first-child a::before {
    background-color: red;
}

.features .box:nth-child(2) a::before {
    background-color: #009688;
}

.features .box:last-child a::before {
    background-color: var(--main-color);
}

.features .box:first-child:hover a::before {
    width: 100%;
    z-index: -1;
}

.features .box:first-child:hover a {
    color: white;
    transition: 0.3s;
}

.features .box:nth-child(2):hover a::before {
    width: 100%;
    z-index: -1;
}

.features .box:nth-child(2):hover a {
    color: white;
    transition: 0.3s;
}

.features .box:last-child:hover a::before {
    width: 100%;
    z-index: -1;
}

.features .box:last-child:hover a {
    color: white;
    transition: 0.3s;
}

.testimonials {
    padding: 100px 0;
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(207, 207, 207);
}

.testimonials .box img {
    position: absolute;
    width: 100px;
    border: 10px solid var(--section-background);
    border-radius: 50%;
    right: -10px;
    top: -50px;
}

.testimonials .box h3 {
    margin-bottom: 10px;
}

.testimonials .box .job {
    display: block;
    text-transform: capitalize;
    color: #777;
    font-size: 16px;
    margin-bottom: 10px;
}

.testimonials .box .rate .star {
    color: rgb(255, 196, 0);
}

.testimonials .box p {
    margin-top: 10px;
    color: #777;
    line-height: 1.5;
}

.team {
    padding: 100px 0;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.team .box {
    position: relative;
    padding-top: 60px;
}

.team .box::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: #e7e7e7;
    border-radius: 10px;
    z-index: -1;
    right: 0;
    top: 0;
}

.team .box::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    z-index: -1;
    right: 0;
    top: 0;
    transition: 0.3s;
}

.team .box:hover::after {
    width: 80%;
}

.team .box .data {
    display: flex;
    align-items: center;
}

.team .box .data img {
    max-width: calc(100% - 60px);
    border-radius: 10px;
    transition: 0.4s;
}

.team .box:hover .data img {
    filter: grayscale();
}

.team .box .data .social {
    /* width: 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .box .data .social a i {
    color: #777;
    transition: 0.3s;
}

.team .box .data .social a:hover i {
    color: var(--main-color);
}

.team .box .info {
    padding-left: 80px;
}

.team .box .info h3 {
    margin-top: 22px;
    color: var(--main-color);
    font-size: 22px;
}

.team .box:hover .info h3 {
    color: rgb(80, 80, 80);
}

.team .box .info p {
    margin: 10px 0 25px;
    text-transform: capitalize;
}

.services {
    background-color: var(--section-background);
    padding: 100px 0;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.services .box {
    background-color: white;
    box-shadow: 0 0 20px rgb(207, 207, 207);
    position: relative;
    counter-increment: count;
    transition: 0.3s;
}

.services .box::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0px;
    background-color: var(--main-color);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.services .box:hover::before {
    width: 100%;
}

.services .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgb(170, 170, 170);
}

.services .box .body i {
    text-align: center;
    display: block;
    margin: 30px auto 20px;
    color: #b4b4b4;
}

.services .box .body h3 {
    text-align: center;
    font-size: 25px;
    color: var(--main-color);
    text-transform: capitalize;
    margin: 20px 0 40px;
}

.services .box .footer {
    background-color: #eee;
    padding: 15px;
    text-align: right;
    position: relative;
}

.services .box .footer a {
    text-transform: capitalize;
    color: var(--main-color);
    font-size: 16px;
}

.services .box .footer a::before {
    content: "0"counter(count);
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--main-color);
    height: 100%;
    width: 95px;
    left: 0;
    top: 0;
    padding-right: 15px;
}

.services .box .footer a::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    height: 100%;
    width: 13%;
    top: 0;
    left: 90px;
    transform: skewX(-25deg);
}

.skills {
    padding: 100px 0;
}

.skills .container {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

@media (max-width: 991px) {
    .skills img {
        display: none;
    }
}

.skills .info {
    flex: 1;
}

.skills .info .title {
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
}

.skills .info .title .present {
    color: var(--main-color);
    font-weight: bold;
    font-size: 12px;
    padding: 3px 5px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}

.skills .info .prog-holder {
    position: relative;
    background-color: #ddd;
    height: 30px;
}

.skills .info .prog-holder span {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
    left: 0;
    top: 0;
}

.how-it-works {
    padding: 100px 0;
    background-color: var(--section-background);
}

.how-it-works .container {
    display: flex;
    align-items: center;
}

.how-it-works .container > img {
    margin-right: 100px;
}

@media (max-width: 991px) {
    .how-it-works .container {
        flex-direction: column;
    }
    .how-it-works .container > img {
        margin: 0 auto 100px;
    }
}

@media (max-width: 767px) {
    .how-it-works .container > img {
        display: none;
    }
}

.how-it-works .steps {
    flex: 1;
}

.how-it-works .steps .box {
    display: flex;
    align-items: center;
    background-color: #f5f6f5f5;
    border: 2px solid white;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .how-it-works .steps .box {
        flex-direction: column;
        text-align: center;
    }
}

.how-it-works .steps .box img {
    width: 64px;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .how-it-works .steps .box img {
        margin: 0 auto 20px;
    }
}

.how-it-works .steps .box h3 {
    text-transform: capitalize;
    font-size: 22px;
}

.how-it-works .steps .box p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 10px;
    color: #777;
}

.events {
    padding: 100px 0;
}


.events .container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.events .container img {
    max-width: 450px;
}

@media (max-width: 991px) {
    .events .container img {
        display: none;
    }
}

.events .container .info {
    flex: 1;
}

.events .container .info .time {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.events .container .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: 0.3s;
}

.events .info .time .unit:hover {
    border-color: var(--main-color);
}

.events .container .info .time .unit span {
    display: block;
    transition: 0.3s;
}

.events .info .time .unit .days,
.events .info .time .unit .hours,
.events .info .time .unit .minutes,
.events .info .time .unit .seconds {
    color: var(--main-color);
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
}

.events .info .time .unit span:last-child {
    padding: 8px 10px;
    font-size: 14px;
    border-top: 1px solid #d5d5d5;
}

.events .info .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .container .info .text h2 {
    text-transform: capitalize;
    margin-top: 40px;
}

.events .container .info .text p {
    color: #777;
    line-height: 1.6;
    margin: 20px 0;
    font-size: 19px;
}

.events .container .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .container .subscribe form {
    width: 600px;
    background-color: #f6f5f5;
    padding: 30px 40px;
    margin: auto;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .events .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
    }
}

.events form input[type="email"] {
    border: none;
    padding: 20px;
    border-radius: 50px;
    flex: 1;
    caret-color: var(--main-color);
}

.events form input[type="email"]:focus {
    outline: none;
}

.events form input[type="email"]::placeholder {
    text-transform: capitalize;
    color: #777;
}

.events form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 20px;
    cursor: pointer;
}

.pricing {
    padding: 100px 0;
    background-color: var(--section-background);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 15px;
}

.pricing .plan {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px rgb(170, 170, 170);
    z-index: 1;
}

.pricing .plan::before {
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    height: 50%;
    width: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s;
}

.pricing .plan::after {
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    height: 50%;
    width: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}

.pricing .plan:hover::before,
.pricing .plan:hover::after {
    width: 100%;
}

.pricing .popular {
    top: -20px;
}

.pricing .popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 10px 35px;
    background-color: var(--main-color);
    right: 20px;
    width: 40px;
}

.pricing .popular .label::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--main-color);
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}

.pricing .head {
    text-align: center;
    margin-bottom: 20px;
}

.pricing .head h3 {
    margin: 30px 0;
    text-transform: capitalize;
    font-size: 25px;
}

.pricing .head img {
    width: 80px;
    margin-bottom: 30px;
}

.pricing .head .price {
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
}

.pricing .head span {
    color: #777;
    font-size: 16px;
    text-transform: capitalize;
}

.pricing ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}

.pricing button {
    display: block;
    margin: 30px auto 40px;
    padding: 15px 20px;
    color: var(--main-color);
    font-weight: bold;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    text-transform: capitalize;
}

.videos {
    padding: 100px 0;
}

.videos .container {
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
    .videos .container {
        flex-direction: column;
    }
}

.videos .side-bar {
    min-width: 300px;
    border: 1px solid #ddd;
}

.videos .side-bar .head {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
}

.videos .side-bar ul li {
    padding: 20px;
    border: 1px solid #ddd;
}

.videos .side-bar ul li .title {
    margin-bottom: 10px;
}

.videos .side-bar ul li .time {
    color: #777;
    font-size: 16px;
}

.videos .preview {
    padding: 15px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos .preview img {
    max-width: 100%;
}

.videos .preview p {
    padding: 20px;
    background-color: white;
}

.stats {
    padding: 100px 0;
    background-image: url(../imgs/stats.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    min-height: 300px;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 80%);
}

.stats h2 {
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 50px;
    position: relative;
}

.stats .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px 15px;
}

.stats .container .box::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 0px;
    background-color: var(--main-color);
    top: 0;
    right: 0;
    transition: 1s;
}

.stats .container .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    transition: 1s;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.stats .container .box .text {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}

.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
    .discount {
        margin-bottom: 50px;
    }
}

.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}

@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}

.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}

.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}

.discount .form textarea.input {
  resize: none;
  height: 200px;
}

.discount .form .input:focus {
  outline: none;
}

.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.discount .form [type="submit"]:hover {
  background-color: #0076d6;
}

.discount .content {
  text-align: center;
  padding: 0 20px;
}

.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 30px 0;
}

.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

.discount .content img {
  width: 300px;
  max-width: 100%;
  margin-bottom: 30px;
}

footer {
    background-color: #191919;
    padding-top: 100px;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

@media (max-width: 767px) {
    footer .container {
        text-align: center;
    }
}

footer .box:first-child h3 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

footer .box:first-child .social {
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {
    footer .box:first-child .social {
        justify-content: center;
    }
}

footer .box:first-child .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

footer .box:first-child .social li:first-child:hover a {
    background-color: #0076d6;
}

footer .box:first-child .social li:nth-child(2):hover a {
    background-color: #000000;
}

footer .box:first-child .social li:last-child:hover a {
    background-color: red;
}

footer .box:first-child p {
    color: #b9b9b9;
    line-height: 2;
    margin: 16px 0;
}

footer .box:nth-child(2) .links li {
    padding: 15px 0;
    transition: 0.3s;
}

footer .box:nth-child(2) .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}


footer .box:nth-child(2) .links li a {
    color: #b9b9b9;
    text-transform: capitalize;
    transition: 0.3s;
}

footer .box:nth-child(2) .links li a:before {
    content: "\f101";
    font-family: "font awesome 5 free";
    font-weight: 900;
    font-size: 13px;
    color: var(--main-color);
    margin-right: 10px;
}

footer .box:nth-child(2) .links li:hover {
    padding-left: 10px;
}

footer .box:nth-child(2) .links li:hover a {
    color: white;
}

footer .box:nth-child(3) .line {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    footer .box:nth-child(3) .line {
        flex-direction: column;
    }    
}

footer .box:nth-child(3) .line p {
    color: #b9b9b9;
    line-height: 2;
    flex: 1;
}

footer .box:nth-child(3) .line p span {
    display: block;
}

footer .box:nth-child(3) .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 15px;
}

@media (max-width: 767px) {
    footer .box:nth-child(3) .line i {
        margin: 15px;
    } 
}

footer .box:last-child {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

footer .footer-gallery img {
    border: 3px solid white;
    width: 100%;
}

footer .copyright {
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 25px 0;
    margin-top: 50px;
    border-top: 1px solid #444;
}