:root {
    --blue: #0075ff;
    --alt-blue: #0d69d5;
    --orange: #f59e0b;
    --green: #22c55e;
    --red: #f44336;
    --gray: #888;
}

/* start box */
.d-flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.f-bet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* padding margin */
.p-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.m-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

/* color */
.bg-fff {
    background-color: white;
}

.c-black {
    color: black;
}

/* position */
.p-rel {
    position: relative;
}

/* font */
.txt-c {
    text-align: center;
}

.fs-14 {
    font-size: 14px;
}

/* border */
.rad-6 {
    border-radius: 6px;
}

.w-full {
    width: 100%;
}