* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blue: #0075ff;
    --alt-blue: #0d69d5;
    --orange: #f59e0b;
    --green: #22c55e;
    --red: #f44336;
    --gray: #888;
}

body {
    font-family: "Open Sans", sans-serif;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(24 119 242 / 20%);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--blue);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--alt-blue);
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
    margin-bottom: 50px;
}

.sidebar > h3:before {
    content: "";
    position: absolute;
    background-color: black;
    width: 80px;
    height: 2px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar > h3:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
}

.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }

    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .sidebar > h3::before,
    .sidebar > h3:after,
    .sidebar ul li a span {
        display: none;
    }
}

.content {
    overflow: hidden;
}

.header .search::before {
    content: "\f002";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--gray);
}

.header .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}

.header .search input:focus {
    width: 250px;
}

.header .search input:focus::placeholder {
    opacity: 0;
}

.header .icons .notification::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: var(--red);
    border-radius: 50%;
    right: -4px;
    top: -2px;
}

.header .icons img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 15px;
}

.page h1 {
    margin: 20px 20px 40px;
}

.page h1:before,
.page h1:after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -10px;
}

.page h1:before {
    width: 150px;
    background-color: white;
}

.page h1:after {
    width: 50px;
    background-color: black;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.welcome {
    overflow: hidden;
}

.welcome .intro .text {
    text-align: left;
}

.welcome .intro .text h2 {
    font-size: 24px;
}

.welcome .intro .text p {
    color: #888;
    font-size: 16px;
}

.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .Profile {
    width: 64px;
    padding: 2px;
    margin-top: -32px;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px #ddd;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body div {
    flex: 1;
}

.welcome .body div p {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}

.welcome .body div:first-child {
    text-transform: capitalize;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}

.welcome .visit:hover {
    background-color: var(--alt-blue);
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .Profile {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}

.draft textarea {
    resize: none;
    height: 180px;
}

.draft .save {
    margin: 0 0 0 auto;
    cursor: pointer;
    transition: 0.3s;
}

.draft .save:hover {
    background-color: var(--alt-blue);
}

.targets .target-row .icon {
    width: 80px;
    height: 80px;
}

.targets .blue .icon {
    background-color: rgb(0 117 255 / 20%);
}

.targets .orange .icon {
    background-color: rgb(245 158 11 / 20%);
}

.targets .green .icon {
    background-color: rgb(34 197 94 / 20%);
}

.targets .target-row .details {
    flex: 1;
}

.targets .target-row .details .progress {
    height: 4px;
}

.targets .blue .details .progress {
    background-color: rgb(0 117 255 / 20%);
}

.targets .orange .details .progress {
    background-color: rgb(245 158 11 / 20%);
}

.targets .green .details .progress {
    background-color: rgb(34 197 94 / 20%);
}

.targets .target-row .details .progress > span {
    left: 0;
    top: 0;
    height: 100%;
}

.targets .target-row .details .progress > span span {
    right: -16px;
    bottom: 16px;
    font-size: 13px;
    padding: 2px 5px;
}

.targets .target-row .details .progress > span span:after {
    content: "";
    position: absolute;
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
}

.targets .blue .details .progress > span span:after {
    border-top-color: var(--blue);
}

.targets .orange .details .progress > span span:after {
    border-top-color: var(--orange);
}

.targets .green .details .progress > span span:after {
    border-top-color: var(--green);
}

@media (max-width: 767px) {
    .tickets > div {
        flex-direction: column;
    }
}

.tickets .box {
    flex-basis: calc(50% - 20px);
    border: 1px solid #ccc;
}

.news img {
    width: 100px;
}

.news .news-row .info {
    flex: 1;
}

.news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .news .news-row {
        flex-direction: column;
    }
    .news .news-row .label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.tasks .task-row:not(:last-of-type) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.tasks .done h3, 
.tasks .done p {
    text-decoration: line-through;
}

.tasks .done h3 {
    color: #c0c0c0;
}

.tasks .done p {
    color: #d8d8d8;
}

.tasks .done i {
    color: #d8d8d8;
}

.search-items .head {
    border-bottom: 1px solid #eee;
}

.uploads .file-row img {
    width: 40px;
}

.uploads .file-row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.project-progress ul::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 11px;
    top: 0;
    background-color: var(--blue);
}

.project-progress ul li::before {
    content: "";
    display: block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid var(--blue);
    z-index: 1;
}

.project-progress ul .done::before {
    background-color: var(--blue);
}

.project-progress ul .curr::before {
    animation: change-color 1.5s infinite;
}

@keyframes change-color {
    0%, 100% {
        background-color: white;
    }
    50% {
        background-color: var(--blue);
    }
}

.project-progress img {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 30%;
}

@media (max-width: 767px) {
    .project-progress img {
        display: none;
    }
}

.reminders ul li > span {
    width: 15px;
    height: 15px;
}

.reminders ul li .blue {
    border-left: 1px solid var(--blue);
}

.reminders ul li .green {
    border-left: 1px solid var(--green);
}

.reminders ul li .orange {
    border-left: 1px solid var(--orange);
}

.reminders ul li .red {
    border-left: 1px solid var(--red);
}

.post .user img {
    width: 48px;
}

.post .body {
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}

.social-media .box .stats {
    flex: 1;
}

.social-media .box i {
    width: 65px;
    height: 65px;
    display: flex;
}

.social-media .twitter i {
    background-color: black;
}

.social-media .facebook i {
    background-color: var(--blue);
}

.social-media .youtube i {
    background-color: red;
}

.social-media .linkedin i {
    background-color: #0077b5;
}

.social-media .twitter .stats {
    color: black;
    background-color: rgba(80, 80, 80, 0.13);
}
.social-media .facebook .stats {
    color: var(--blue);
    background-color: rgb(24 119 242 / 20%);
}
.social-media .youtube .stats {
    color: red;
    background-color: rgb(255 0 0 / 20%);
}
.social-media .linkedin .stats {
    color: #0077b5;
    background-color: rgb(0 119 181 / 20%);
}

.social-media .twitter .stats a {
    background-color: black;
}

.social-media .facebook .stats a {
    background-color: var(--blue);
}

.social-media .youtube .stats a {
    background-color: red;
}

.social-media .linkedin .stats a {
    background-color: #0077b5;
}

@media (max-width: 767px) {
    .social-media .box .stats {
        padding-right: 10px;
        padding-left: 10px;
    } 
}

.projects .responsive-table {
    overflow-x: auto;
}

.projects table {
    width: 100%;
    min-width: 1000px;
    border-spacing: 0;
}

.projects table tr {
    transition: 0.3s;
}
.projects table tr:hover {
    background-color: #f8f7f7;
}

.projects table thead td {
    font-weight: bold;
    background-color: #eee;
}

.projects table td {
    padding: 15px;
}

.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.projects tbody tr td:last-child {
    border-right: 1px solid #eee;
}

.projects table img {
    width: 32px;
    padding: 2px;
    background-color: white;
}

.projects table img:not(:first-child) {
    margin-left: -20px;
}

.projects table img:hover {
    z-index: 100;
}

