@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}

.profile-page .overview .avatar-box {
    width: 300px;
}

@media (min-width: 768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}

.profile-page .overview img {
    width: 120px;
}

.profile-page .overview .level {
    height: 5px;
    overflow: hidden;
    width: 70%;
    margin: auto;
}

.profile-page .overview .level span {
    position: absolute;
    background-color: var(--blue);
    height: 100%;
    left: 0;
    top: 0;
}

.profile-page .overview .rate i {
    color: rgb(255, 208, 0);
}

.profile-page .overview .info {
    flex: 1;
}

.profile-page .info .box:not(:last-child) {
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .profile-page .info .box {
        justify-content: center;
        text-align: center;
    }
}

.profile-page .info .box > div {
    min-width: 250px;
    padding: 10px 0 0;
}

.profile-page .info .toggle-switch {
    height: 20px;
}

@media (max-width: 767px) {
    .profile-page .info .toggle-switch {
        margin: auto;
    }
}

.profile-page .info .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 8px;
}

.profile-page .info .toggle-checkbox:checked + .toggle-switch::before {
    left: 62px;
}

@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
    
    .profile-page .other-data .skills-card {
        text-align: center;
    }
}

.profile-page .other-data .skills-card {
    flex-basis: 33.3%;
}

.other-data .skills-card li {
    padding: 15px 0;
}

.other-data .skills-card li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.other-data .skills-card li span {
    display: inline-flex;
    font-size: 14px;
}

@media (max-width: 767px) {
    .other-data .activities {
        text-align: center;
    }

    .other-data .activities .activity {
        flex-direction: column;
    }
}

.profile-page .other-data .activities {
    flex-basis: 66.5%;
}

.profile-page .other-data .activities img {
    width: 64px;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .other-data .activities .activity img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.profile-page .activity:not(:last-child) {
    border-bottom: 1px solid #eee;
}

@media (min-width: 767px) {
    .profile-page .activity .date {
        margin-left: auto;
        text-align: right;
    }

    .other-data .activities .activity div:first-of-type {
        margin-bottom: 20px;
    }

    .other-data .activities .activity span {
        margin-bottom: 0;
    }
}